*{
   
}
body{

    background-image: url("C:\Users\pc\Documents\farm-fronted\src\asset\background.jpg");
    background-size: 672Px 448px;
    background-repeat: no-repeat;
    background-position: 0px 0px;   
}